<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center">{{title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="create()">Create Game</button>
    </div>
    <div class="col">
      <p>Game id</p>
      <input [(ngModel)]="gameId" required class="form-control">
      <button type="button" class="btn btn-primary" (click)="getGame()">get Game {{gameId}}</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      {{text | json}}
    </div>
  </div>
</div>

